

<div style="margin-bottom: 50px;">

		
		<p>
		Welcome, <%= @user.name %>! 
		</p>

		<p>
		We're happy to have you here.
		</p>
		
		<p>
		If you'd like to set up a picture, change your name, go superhero, or otherwise manage your account, you can follow this link or click the <span class="glyphicon glyphicon-user brand-primary"></span> in the top right and go to <a href="<%= edit_user_path(current_user) %>" class="brand-primary">> Settings</a>. 
		</p>

		<p>
		We sure hope you enjoy exploring the library. To learn more about this place, please check out some of the links you'll find in the footer at the bottom. 
		</p>

		<p>
		If you have any questions about the site that you can't find answers to, or would like to get in touch with us, the creators, for any reason please contact us <mark>here</mark>. 
		</p>

		<p>
		Again, welcome, and happy learning. 
		</p>

		<p>
		<strong><span style="color: #76B3DF;">The Rstacks Team</span></strong> - Isaac, Julia, and James
		</p>

		<p>
		PS. If you'd like to get started right away as a contributor to the library, well, that'd be great! 
		</p>

</div>