

<p>Hi <%= @user.name %>! </p>

<p>To change the email associated with your Rstacks account, click the link below:</p>

<%= link_to "Update email", edit_email_update_url(@user.email_update_token,
                                                      new_email: @user.new_email) %>

<p>But make it snappy - this link will expire in two hours!</p>

<p>
If you did or do not wish to change your email, please ignore this email and everything will stay as it is.
</p>