
<div class="tags">

    <!-- context labels -->
    <% project.tags.each do |tag| %>
      <span class="label label-context" ><%= link_to tag, projects_path(:tag => [tag]) %></span>
    <% end %>

</div>
