<% content_for :auth_dash_side do %>
	<div class="well">
		<h5>Lorem.</h5>
		<p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsam, reprehenderit.</p>
	</div>
	<div class="well">
		<h5>Iure.</h5>
		<p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptas, officiis!</p>
	</div>
	<div class="well">
		<h5>Ex!</h5>
		<p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum, nobis.</p>
	</div>
<% end %>