<% content_for :auth_dash_main do %>
	<div class="dash-main-wrapper">
		<section>
			<h4>Lorem ipsum.</h4>
			<p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Similique, quisquam?</p>
		</section>
		<section>
			<h4>Sunt, quod.</h4>
			<p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempora, modi.</p>
		</section>
		<section>
			<h4>Totam, optio?</h4>
			<p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptates, saepe.</p>
		</section>
		<section>
			<h4>Velit, harum?</h4>
			<p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis, a!</p>
		</section>
		<section>
			<h4>Nostrum, esse!</h4>
			<p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore, eum.</p>
		</section>
	</div>
<% end %>