<div class="section">
	<div class="row" 
		style="
			/*background-color: #F9F1B4;*/
		">
		<h2 class="" style="color: #4a86e8;">
			Rstacks is show and tell for students.
		</h2>
		<h4 class="brand-secondary">
		<button class="btn btn-success">
			Sign in 
		</button>
		 or 
		 <button class="btn btn-primary">
		 	learn a little more.
		 </button>
		</h4>
		
	</div>
</div>