<style>
	ol.carousel-indicators {
		display: none;
	}
</style>

<div id="carousel-example-generic" class="carousel slide" data-ride="carousel" data-interval="13000">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox">
    <div class="item active">
							<div class="col-sm-4 text-center" style="display: table;">
								<div style="display: table-cell; vertical-align: middle;">
									<p style="color: #76B3DF;">
										“The secret of education lies in respecting the pupil.” 
										<br>
										― Ralph Waldo Emerson</p>
								</div>
							</div>
							<div class="col-sm-4 text-center" style="display: table;">
								<div style="display: table-cell; vertical-align: middle;">
									<p style="color: #76B3DF;">
										“It is important that students bring a certain ragamuffin, barefoot irreverence to their studies; they are not here to worship what is known, but to question it.” 
										<br>
										― Jacob Bronowski
									</p>
								</div>
							</div>
							<div class="col-sm-4 text-center" style="display: table;">
								<div style="display: table-cell; vertical-align: middle;">
									<p style="color: #76B3DF;">
										“Without education, we are in a horrible and deadly danger of taking educated people seriously.” 
										<br>
										― G.K. Chesterton
									</p>
								</div>
							</div>
    </div>
    <div class="item">

							    <div class="col-sm-4 text-center" style="display: table;">
							    	<div style="display: table-cell; vertical-align: middle;">
							    		<p style="color: #76B3DF;">
							    			“Libraries are not made; they grow. Good as it is to inherit a library, it is better to collect one.” 
							    			<br>
							    			― Augustine Birrell</p>
							    	</div>
							    </div>
							    <div class="col-sm-4 text-center" style="display: table;">
							    	<div style="display: table-cell; vertical-align: middle;">
							    		<p style="color: #76B3DF;">
							    			“Beethoven said that it's better to hit the wrong note confidently, than hit the right note unconfidently. Never be afraid to be wrong or to embarrass yourself; we are all students in this life, and there is always something more to learn.” 
							    			<br>
							    			― Mike Norton
							    		</p>
							    	</div>
							    </div>
							    <div class="col-sm-4 text-center" style="display: table;">
							    	<div style="display: table-cell; vertical-align: middle;">
							    		<p style="color: #76B3DF;">
							    			“We don’t have to destroy the library of the past. We just need to give it a face-lift.” 
							    			<br>
							    			― Scott Douglas
							    		</p>
							    	</div>
							    </div>
    </div>

    <div class="item">
	    	
						<div class="col-sm-4 text-center" style="display: table;">
							<div style="display: table-cell; vertical-align: middle;">
								<p style="color: #76B3DF;">
									“A man should keep his little brain attic stocked with all the furniture that he is likely to use, and the rest he can put away in the lumber room of his library, where he can get it if he wants it.” 
									<br>
									― Arthur Conan Doyle
									</p>
							</div>
						</div>
						<div class="col-sm-4 text-center" style="display: table;">
							<div style="display: table-cell; vertical-align: middle;">
								<p style="color: #76B3DF;">
									“Tell me and I forget, teach me and I may remember, involve me and I learn.” 
									<br>
									-- Ben Franklin
								</p>
							</div>
						</div>
						<div class="col-sm-4 text-center" style="display: table;">
							<div style="display: table-cell; vertical-align: middle;">
								<p style="color: #76B3DF;">
									“We read books to find out who we are. What other people, real or imaginary, do and think and feel... is an essential guide to our understanding of what we ourselves are and may become.” 
									<br>
									― Ursula K. Le Guin
								</p>
							</div>
						</div>



    </div>
    
  </div>
</div>