  <style>
  .slideshow-wrapper {
    /*border: 1px solid #76B3DF;*/
    padding: 10px;
  }
  .section-billboard {
    /*border: 3px solid black;*/
    /*border-radius: 20px;*/
    padding: 10px; 
    /*margin-top: 10px;*/
    /*margin-bottom: 10px;*/
    /*font-family: 'Amata SC', cursive;*/
  }
  .padded-vert {
    padding-top: 20px;
    padding-bottom: 20px;
  } 

  .alerty {
    padding: 15px;
    /*border: 4px solid #76B3DF;*/
    /*border-radius: 20px;*/
    background-color: lightyellow;
    color: brown;
  }
  .quotable {
    /*padding: 20px;*/
    padding-top: 40px;
    padding-bottom: 40px;
    border-radius: 80px;
    padding-left: 50px;
    padding-right: 50px;
    border-right: 15px solid lightgray;
    border-left: 15px solid lightgray;
  }
  </style>



  
  <div class="slideshow-wrapper">
  
    <div class="section section-billboard" style="">  
        <div class="row">
          <div class="col-md-8 text-center">
            <%= image_tag('drawings/sharey_girl_2.jpg', class: 'img-responsive') %>
          </div>
          
        </div>
         
          
        
    </div>
  </div>