  <style>
  .slideshow-wrapper {
    /*border: 1px solid #76B3DF;*/
    padding: 10px;
  }
  .section-billboard {
    /*border: 3px solid black;*/
    /*border-radius: 20px;*/
    padding: 10px; 
    /*margin-top: 10px;*/
    /*margin-bottom: 10px;*/
    /*font-family: 'Amata SC', cursive;*/
  }
  .padded-vert {
    padding-top: 20px;
    padding-bottom: 20px;
  } 

  .alerty {
    padding: 15px;
    /*border: 4px solid #76B3DF;*/
    /*border-radius: 20px;*/
    background-color: lightyellow;
    color: brown;
  }
  .quotable {
    /*padding: 20px;*/
    padding-top: 40px;
    padding-bottom: 40px;
    border-radius: 80px;
    padding-left: 50px;
    padding-right: 50px;
    border-right: 15px solid lightgray;
    border-left: 15px solid lightgray;
  }
  </style>

    <!-- <div class="section section-billboard padded-vert">  
        <div class="row">
          <div class="col-md-12" >
          <div class="">
           
              <h3 class="dark-blue" >Openbound is a public library built by and for students.
              <br>
              It is public and free.
              <br>
              Because your work matters.&nbsp;</h3>
          
          </div>
          </div>
        </div>
    </div> -->

    <!-- <div class="row alerty" style="margin-bottom: 20px;">
    
      <div class="col-sm-12 ">
      <div class="" id="notReallyAnAlert" >
    
        <p>
        <span class="fa fa-info-circle"></span>
        Once you're <%= link_to "signed in", signin_path, style: 'color: green;' %>, this'll area will show activity from the schools you're affiliated with, people and schools you follow, and any feedback on your uploaded works.
        </p>

        <p>
          In the meantime, here's a little show and tell about us... enjoy!
        </p>
    
      </div>  
      </div>
    </div> -->

           

    
    <div class="section section-billboard" style="">  
        <div class="row">
          <div class="col-md-8 col-md-offset-2 text-center">
            <%= image_tag('drawings/sharey_girl_2.jpg', class: 'img-responsive') %>
          </div>
          <div class="col-md-12 text-center">
            <h3 class="dartmouth-green">
            What if education wasn't just turned in, <br>but turned <span style="color: white; background-color: #00693E;">&nbsp;inside-out?&nbsp;</span></h3>
          </div>
          
        </div>
         
          
        
    </div>
    
    <div class="section section-billboard padded-vert" style="">  
        <div class="row">
          
          <div class="col-sm-8 col-sm-offset-2 ">  <!-- col-sm-offset-3 -->
            <%= image_tag('drawings/old_school_cycle.jpg', class: 'img-responsive') %>
          </div>
          
          <div class="col-sm-12 harvard-red  text-center">
            <h3>The work of education should not be wrote, hidden, forgotten, or diluted to <span style="color: white; background-color: #A41034;">&nbsp;A-&nbsp;</span> single-letter grade.
            </h3>
          </div>
          
          
        </div>
    </div>
    
    

    
    <div class="section section-billboard">  
        <div class="row">
          <div class="col-md-12">
            <h3 class="dark-blue">We value the work of those who are learning. <br>Not just as a means to an end, but as original, inspiring, and worthwhile endeavors from which
              anyone and everyone can learn.</h3>
          </div>
        </div>
    </div>
    
    <div class="section section-billboard dark-blue text-center" style="padding-top: 20px; padding-bottom: 40px; color: #005a9b; background-color: #DEE9EF;">  
        <div class="row">
          <div class="col-md-12">
            <h1 class="mega">The Mission of Openbound:</h1>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <h1>to create growth in education through the constructive sharing of works
              by those who learn.&nbsp;</h1>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="col-md-6">
              <blockquote>
                <p>Lorem ipsum dolor sit amet</p>
                <footer>Someone famous</footer>
              </blockquote>
            </div>
            <div class="col-md-6">
              <blockquote>
                <p>Lorem ipsum dolor sit amet</p>
                <footer>Someone famous</footer>
              </blockquote>
            </div>
          </div>
        </div>
    </div>
    
    <div class="section section-billboard">  
        <div class="row">
          <div class="col-md-4">
            <h1 class="text-center">~30 million college students (in the US alone)</h1>
          </div>
          <div class="col-md-4">
            <img src="http://pingendo.github.io/pingendo-bootstrap/assets/placeholder.png"
            class="img-responsive">
          </div>
          <div class="col-md-4">
            <h1 class="text-center">~54 million in K-12</h1>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <h1 class="text-center">You are not alone.&nbsp;</h1>
          </div>
        </div>
    </div>
    
    <div class="section section-billboard">  
        <div class="row">
          <div class="col-md-4">
            <img src="http://pingendo.github.io/pingendo-bootstrap/assets/placeholder.png"
            class="img-responsive">
          </div>
          <div class="col-md-8">
            <p>Just&nbsp;Just imagine the collaborative potential of all those incredibly
              smart and hardworking human beings…. Oh wait! That’s what the internet
              was created for. Good point.</p>
          </div>
        </div>
    </div>
    
    <div class="section section-billboard">  
        <div class="row">
          <div class="col-md-6">
            <h1 class="text-center">Heading</h1>
            <img src="http://pingendo.github.io/pingendo-bootstrap/assets/placeholder.png"
            class="img-responsive">
          </div>
          <div class="col-md-6">
            <h1 class="text-center">Heading</h1>
            <%= image_tag('drawings/kid_has_tools.jpg', class: 'img-responsive') %>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <p>Openbound belongs to those who use it. Period. There’s no fee. Your school
              doesn’t have to sign up for you to use it. It’s technology for people to
              learn from each other. Get feedback. Give feedback. Make your classroom
              84 million times bigger.&nbsp;</p>
          </div>
        </div>
    </div>
    
    <div class="section section-billboard">  
        <div class="row">
          <div class="col-md-12">
            <h1>Openbound is for everyone... yes! even you!</h1>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <h3>Things Openbound doesn't know or care about:</h3>
            <ol>
              <li>One</li>
              <li>Two</li>
              <li>Three</li>
            </ol>
          </div>
          <div class="col-md-6">
            <h3>Things Openbound cares bout:
              <br>
            </h3>
            <ol>
              <li>One</li>
              <li>Two</li>
              <li>Three</li>
            </ol>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <h1 class="text-center">A diploma doesn't make you smart. You do.
              <br>
            </h1>
          </div>
        </div>
    </div>
    
    <div class="section section-billboard">  
        <div class="row">
          <div class="col-md-12">
            <h1 class="text-center">What about plagiarism?&nbsp;</h1>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <p class="text-center">Lorem ipsum dolor sit amet, consectetur adipisici elit,
              <br>sed eiusmod tempor incidunt ut labore et dolore magna aliqua.
              <br>Ut enim ad minim veniam, quis nostrud</p>
            <div class="row">
              <div class="col-md-12">
                <h1>Openbound is no different from a public library. How you use information
                  is up to you. We encourage citation. Cite others. Hell, cite yourself --
                  you’re smart, too.</h1>
              </div>
            </div>
          </div>
        </div>
    </div>
    
    <div class="section section-billboard">  
        <div class="row">
          <div class="col-md-6">
            <h1>The Scholarship Goal
              <br>aka
              <br>Giving you money.</h1>
          </div>
          <div class="col-md-6">
            <img src="http://pingendo.github.io/pingendo-bootstrap/assets/placeholder.png"
            class="img-responsive">
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <p>If time is money and money is time (true in an unfortunately practical
              way), then maybe more time for learning and creating can happen if we can
              finagle you a bit more money. When we have money to give you, we will let
              you know. This is one of our biggest dreams. Until then, if you have money
              to give away ($5-$5,000,000 range), please contact us. We -- and so many
              students -- would appreciate it.&nbsp;</p>
          </div>
        </div>
    </div>
    
    <div class="section section-billboard">  
        <div class="row">
          <div class="col-md-12">
            <h1 class="">If you would like to get in touch with us, the Openbound Team, you have
              some options:</h1>
            <div class="row">
              <div class="col-md-4">
                <img src="http://pingendo.github.io/pingendo-bootstrap/assets/placeholder.png"
                class="img-circle img-responsive">
              </div>
              <div class="col-md-4">
                <img src="http://pingendo.github.io/pingendo-bootstrap/assets/placeholder.png"
                class="img-circle img-responsive">
              </div>
              <div class="col-md-4">
                <img src="http://pingendo.github.io/pingendo-bootstrap/assets/placeholder.png"
                class="img-circle img-responsive">
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <h3 class="text-center">Also good ol' email (we love love letters): team@openbound.org</h3>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <p>You’ve made it this far, so you may also want to check out things like
                  Our Privacy Policy Who the heck are The Openbound Team? Bruce Blogtrotter’s
                  Blog</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>