<div class="row hidden-xs" style="padding-left: 10vw; padding-right: 10vw; width: 100%; margin-bottom: 40px; margin-top: 40px;">
	
	
			
				<div class="marginator" style="max-width: 35%;">
				<div class="chat-bubble left">
						<h4 class="" style="">Share our homework?  </h4><!-- </div> -->
				</div>
				</div>

		
			<div class="pull-right" style="text-align: right; max-width: 60%;">
				<div class="" style="position: relative; right: 0px;">
				<div class="marginator" > <!-- style="border: 1px dashed #0E4C92;" -->
				<div class="chat-bubble right text-right">
					<h4>
						<% # link_to "#{'We could <em>learn more</em>.'.html_safe}", learn_path, class: "blinky-link" %>
						<a href="<%= learn_path %>" class="blinkly-link">We could <em>learn more</em>.</a>
					</h4>
				</div>
				</div>
				</div>

		
			</div>
			


</div>