<!-- _dash.scss -->


<% content_for :unauth_dash_main do %>
	<div class="dash-main-wrapper-unauth">
		
		<!-- tophat -->
		<%# render 'index/dash_top_0' %>

		<%# render 'index/dash_top_1' %>

		<%# render 'index/dash_top_2' %>

		<%= render 'index/slideshow' %>
		








	</div>
<% end %>