<% content_for :unauth_dash_side do %>

	<h4 class="brand-primary">
		Browse
	</h4>
	<div class="well">
		<h6>Top 5 Schools</h6>
		<ul>
			<li>Bowdoin</li>
			<li>Gustavus</li>
			<li>Columbia</li>
			<li>Bryn Mawr</li>
			<li>Tufts</li>	
		</ul>
		
		
	</div>
	<div class="well">
		<h6>5 popular subjects</h6>
		<ul>
			<li>english</li>
			<li>math</li>
			<li>pictures</li>
			<li>science</li>
			<li>stuff</li>
		</ul>
	</div>
	<div class="well">
		<h6>5 pop topics</h6>
		<ul>
			<li>holden caulfield</li>
			<li>mining</li>
			<li>chameleons</li>
			<li>french fried</li>
			<li>differential equations</li>
		</ul>
	</div>
<% end %>