<div class="container">
	<div class="row">
		<div class="col-lg-8 col-md-12">

		<style>
			h1 small {
				color: #DEE9EF;
			}
			h4 { color: #76B3DF;
					 font-size: 1.5em;
					 line-height: 2em;
					}
			h4 mark { /*background-color: #C4D8E2;
					 				color: white; */
					 			background-color: yellow;
					 			color: gray;
					 			}
			h5 { color: #76B3DF;
					 font-size: 1.3em;
					 line-height: 2em;
					 margin-bottom: 5px;
					}
		</style>

		<!-- HEAD SECTION -->
		<section style="color: white; background-color: #76B3DF; padding: 30px; margin: 0px;">
			<h1>Rstacks.org <small>privacy policy.</small> </h1> 
		</section>
		<br>



<h4><mark>
Privacy Content Basics</mark></h4>
<p>
By using the site, you consent to this Policy. For the protection of Rstacks, if you do not agree with this Privacy Policy, you may not use the site. </p>
<p>
The “librarians” (read: site administrators) of Rstacks function as a self-policing body. They are granted limited access to nonpublic information for the purpose of enforcing policies and protecting the site.</p>
<p>
We do not sell, rent, or give away your nonpublic information. We do, however, use it to figure out how to make Rstacks more efficient, interesting, and accessible to anyone and everyone who may want to use its functions. </p>
<p>
If you are under the age of 13, ask your legal guardians for permission to use Rstacks. </p>


<br><h4><mark>
Use of Information</mark></h4>
<p>
Rstacks is an open source space. What you submit <%= link_to "becomes publicly and permanently available.", terms_and_conditions_path %> Any piece of content added, altered, or removed by you is a part of public record. Assume that any information you contribute to Rstacks is publicly visible and can be found by search engines. </p>

<br><h4><mark>
Account Information and Registration</mark></h4>
<p>
We will never ask for any “sensitive” personal information such as gender, sexual orientation, sexual de-orientation, racial or ethnic origins, marital or familial status, medical conditions, impairments, or disabilities, political affiliations or non-affiliations, or spiritual orientations. We don’t give a shit; every voice is valuable to the library. </p>
<p>
If you provide any personal information within the body of submitted content, that information is publicly accessible in the same way that the rest of the content is searchable and accessible.</p>

<br><h4><mark>
Superhero Mode/Spy University</mark></h4>
<p>
Knowing that some users may wish to submit works to the library but do not want these works to be searchable by their username (like an anonymous, charitable donation to mankind), we have created the option of “Superhero Mode” and/or “Spy Univeristy.” </p>
<p>
When the option of Superhero Mode is selected, the name attached to the work is changed from the user’s name to a randomly generated name. The work still belongs to the user, but it no longer appears in the list of results if the user’s name is searched. The work is still accessible to the owner of the work through their user account page, in which all works submitted by that user are listed. It is important to note that Superhero Mode does not change any content contained in the work itself -- any name or personal information listed in the work is still searchable and findable. </p>
<p>
When “Spy University” is selected as a user’s affiliated institution, “Spy University” will be displayed alongside the other user information attached to a work. Any works submitted when “Spy University” is selected will be permanently affiliated with “Spy University.” This option may only be selected after a user has been validated as having an affiliation with a recognized learning institution. </p>
<p>
Please note that these options of anonymity are not meant to and do not protect users from the law. If a user’s work is involved in a legal inquiry, the necessary user and account information attached to a work will be disclosed to the appropriate legal entities to resolve the inquiry. Every user is directly accountable for all work submitted to the library as part of their account. The librarians also reserve the right to remove anonymity from any work with or without any legal circumstances. </p>
 
<br><h4><mark>
Information We Collect </mark></h4>
<p>
We collect some types of information with several commonly-used technologies. These typically include tracking pixels, JavaScript, and some “locally stored data” technologies, like cookies. Locally stored data can be anything from text and pictures, to personal information like an IP address and information about your use of the Rstacks site. Examples of this are your username and time of visit to the site. All of the information that we collect is used toward the goal of making your Rstacks functionality better and safer; in other words, it allows us the opportunity to improve the services we provide to users through the Rstacks site. We do not use third-party cookies. </p>

<h5>
Emails</h5>
<p>
The email address provided to us when an account is created will be linked to a UUID (universally unique identifier), which is exclusive to Rstacks and only exists within Rstacks. The email address which is linked to this personal identification number will be kept confidential within Rstacks. We may occasionally send you emails about important information, such as policy changes or policy infringement. You may choose to limit some of these kinds of notifications, as long as they do not contain critical information of which all users must be aware.</p>
<p>
If you email us, we may keep your message, email address, and any other information you provide us so that we can deal with you accordingly. </p>
<p>
We will never ask for your password by email. If this happens, please inform us by email at team@rstacks.org so that we can hunt those bastards down (investigate the source of the email).</p>

<h5>
Links to Other Sites</h5>
<p>
Rstacks contains links to other websites and resources. If you choose to “follow” such a link, you will be directed to that party’s website. Links contained within the Rstacks site are not endorsing, representing, or authorizing affiliation with said party; any such links are also not endorsements of external privacy practices or policies. Rstacks privacy policy is does not extend beyond information which is collected by Rstacks. </p>

<br><h4><mark>
Legal Circumstances</mark></h4>
<p>
If we logically believe it necessary to fulfill a legally enforceable subpoena, warrant, law or regulation, court order, or other type of judicial or administrative order, we may access, disclose, or preserve your personal information. </p>

<br>
<h4><mark>
Contact Us</mark></h4>
<p>
If you have questions, suggestions, or feedback about this privacy policy, please email us at team@rstacks.org.</p>


		</div>
	</div>
</div>