<div class="container">
	<div class="row">
		<div class="col-lg-8 col-md-12">

		  		<!-- HEAD SECTION -->
		  		<section style="color: white; background-color: #76B3DF; padding: 30px; margin: 0px;">
		  			<h1>Openbound.org 
		  			<small>terms and conditions.</small> </h1> 
		  		</section>

		<style>
			h1 small {
				color: #DEE9EF;
			}
			h4 { color: #76B3DF;
					 font-size: 1.5em;
					 line-height: 2em;
					}
			h4 mark { /*background-color: #C4D8E2;
					 				color: white; */
					 			background-color: yellow;
					 			color: gray;
					 			}
			h5 { color: #76B3DF;
					 font-size: 1.3em;
					 line-height: 2em;
					 margin-bottom: 5px;
					}
		</style>
		<br>



<section>
	<h4><mark>Notice of Non-Endorsement</mark> </h4>
	<p>Openbound is not endorsed by any institution, nor do we endorse any institution or give preferential treatment to any institution(s).</p>
</section>

<section>
	<br><h4><mark>A Note on Plagiarism</mark> </h4>
	<p>
	Openbound is in no way meant to facilitate or encourage plagiarism. Openbound is a library, and like Benjamin Franklin’s Library Company of 1731 or the New York Public Library on 5th Avenue, its spirit is the accessible education of all people. Collaboration and sharing of works is at the heart of all libraries. As a repository and showcase for the works of thinkers all over the world, Openbound allows you to cite yourself, and each other. 
	We, here at Openbound, are not the internet police, your mother, your father, or your teacher. We only ask and hope that you have the integrity to respect your own works and the works of others. Cite properly, cite often, cite more than you think you need to if there is ever doubt if you want to. Don’t know how? <%= link_to "Google it.", "http://www.google.com", style: 'color: blue;' %> The internet is at your fingertips; pleading ignorance would be to plead a lack of character, not a lack of information. If you are reading this, ignorance does not exist. </p>
	<p>
	You may also “check” a portion of text (your own or someone else’s) by inputting that string of text into the search bar. Any works that match within the Openbound database will be called to the front of the search results. </p>
	<p>
	Let’s make this library a beautiful space. </p>
</section>

<section>
	<br><h4><mark>Copyright and DMCA policy</mark> </h4>
	<p>If you are unfamiliar with the DMCA policy, please familiarize yourself with it before contacting us concerning its application to Openbound. Openbound will do everything in its power to adhere to DMCA policies and to protect its users according to its tenants. </p>
	<p>The statutory requirements necessary for formally reporting copyright infringement can be found in section 512 of the “DMCA” (Digital Millennium Copyright Act). Also provided there are instructions on how an affected party can submit to appeal a removal by filing a complaint counter-notice. </p>

	<h5>What Types of Copyright Complaints Does Openbound Respond To?</h5>
	<p>Openbound will respond to reports of alleged copyright infringement. Note that not all unauthorized uses of copyrighted materials are infringements; this concept is known as “fair use” within the United States, and “fair dealing” in some other countries. </p>
	<h5>How do I know if I’m a Copyright Holder? </h5>
	<p>Openbound cannot provide legal advice; if you are unsure as to whether you hold rights to a particular work within the Openbound domain, please consult a third party advisor or attorney. Once an infringement report has been filed, and if you do so knowingly materially misrepresenting that material as infringement, you may be liable for any damages, including costs and attorney fees incurred by us or by our users (see section 17 U.S.C. § 512(f)). Please be sure as to whether the material you wish to report is, in fact, infringement by contacting an attorney before filing a notification with Openbound. </p>

	<h5>How To File a Copyright Complaint</h5>
	<p>You can report alleged copyright infringement by emailing team@openbound.org. You must provide the following information: </p>
	<ul>
		<li>
		A signature (physical or electronic) of the copyright owner or a person authorized to act on the copyright owner’s behalf</li>
		<li>
		Identification of the copyrighted work claimed to have been infringed, and reasonably sufficient information to allow Openbound administrators to locate said material on our website</li>
		<li>
		Your contact information, including your telephone number, email address, and physical address</li>
		<li>
		A statement that you believe in good faith that the use of the subject of allegation is not authorized by the copyright owner, its agent, or the law</li>
		<li>
		A statement that the information in the report is accurate, and, under penalty of perjury, that the person submitting the report is authorized to act on behalf of the copyright owner</li>
	</ul>
	<p>We process reports in the order in which they are received. We will email you a confirmation when we have received your report. </p>
	<p>If we decide to remove or disable access to the material, we will notify the affected user(s) of the removal or of the disabling of access to the material after this action has taken place. We will also provide the user(s) with access to the reporter’s complaint.</p>
</section>

<section>
	<br><h4><mark>Removal of Content Deemed Inappropriate</mark> </h4>
	<p>We, the site administrators of Openbound, reserve the right to remove or disable any content which is deemed inappropriate at our discretion. We are particularly intolerant of any content which promotes violence, hate, hate crimes, pornography, exploitation of minors, etc. We want Openbound to be a welcoming and supportive educational environment; anything that does not contribute to its educational value will be removed. </p>
</section>

<section>
	<br><h4><mark>Requests for Removal of Content</mark> </h4>
	<p>You can request to have inappropriate material removed from Openbound by emailing team@openbound.org. You must provide the following information:</p>
	<ul>
		<li>
		Your contact information, including your telephone number, email address, and physical address</li>
		<li>
		Identification of the material claimed to be inappropriate, and reasonably sufficient information to allow Openbound administrators to locate said material on our website</li>
		<li>
		A statement as to why you deem said material to be inappropriate</li>
		<li>
		A statement that you are submitting the request of your own volition, that the opinions expressed in the request are yours and yours alone, and that you are not acting on behalf of any other party whose signatures are not here represented</li>
		<li>
		The signature(s) of whomever is submitting the request. The signature may be either electronic or physical.</li>

	</ul>
	<p>We process reports in the order in which they are received. We will email you a confirmation when we have received your report. </p>
	<p>If we decide to remove or disable access to the material, we will notify the affected user(s) of the removal or of the disabling of access to the material after this action has taken place. We will also provide the user(s) with access to the reporter’s complaint. </p>
	<h5>Repeat Violators, Suspension, and Permanent Account Termination</h5>
	<p>Under appropriate circumstances, Openbound may warn and/or suspend repeat violators of either the DMCA policy on copyright infringement or our policy on inappropriate content. For extreme cases of recurring violations, we also reserve the right to permanently terminate user accounts. </p>

</section>
	
		</div>
	</div>
</div>