<md-whiteframe class="md-whiteframe-z2" layout layout-align="center " style="padding: 20px;">

<div>Gosh, <strong><span style="color: #76B3DF;"><%= @user.name %>!</span></strong> <br><br> 

		You're a champ. Thank you. <br><br>

		<strong><span style="color: #76B3DF;">The Rstacks Team</span></strong> - Isaac, Julia, and James</div></md-whiteframe>