		<div class="col-sm-9">
			<div class="col-sm-12 col-md-6">
				<%= render 'works/new_google_upload_dan'  %>
			</div>

			<script>
				$('.google-select-multiple-instructions').hide();
			</script>

			<!-- OZONE FOUNDATION -->
			<div class="col-sm-12 col-md-6">
				<%= render 'works/new_multiple' %>
			</div>
		</div>