// __      __     _____  _____          ____  _      ______  _____
// \ \    / /\   |  __ \|_   _|   /\   |  _ \| |    |  ____|/ ____|
//  \ \  / /  \  | |__) | | |    /  \  | |_) | |    | |__  | (___
//   \ \/ / /\ \ |  _  /  | |   / /\ \ |  _ <| |    |  __|  \___ \
//    \  / ____ \| | \ \ _| |_ / ____ \| |_) | |____| |____ ____) |
//     \/_/    \_\_|  \_\_____/_/    \_\____/|______|______|_____/


// Color palettes.

// The blues.
$columbia-blue: #76B3DF;
$columbia-medium-blue: #C4D8E2;
$columbia-light-blue: #DEE9EF;
$bootstrap-primary-blue: #428bca;

$dillinger-select-blue: #5075A7; // good background against white fore


$v2-dark-blue: #005a9b;
$v2-light-blue: #4a86e8;

// The yellows.
$library-yellow: #f9fdef;

// Bootstrap defaults.
$bootstrap-primary: darken(#428bca, 6.5%); // #337ab7
$bootstrap-success: #5cb85c;
$bootstrap-info:    #5bc0de;
$bootstrap-warning: #f0ad4e;
$bootstrap-danger:  #d9534f;

// Famous schools and their colors.
$harvard-crimson: #A41034;
$columbia-blue: #76B3DF;
$dartmouth-green: #00693E;
$princeton-orange: #FF8F00;
$yale-blue: #0E4C92;


// New proposed colors.
$julia-blue-primary: #005a9b;
$julia-blue-secondary: #006EBC; // $columbia-medium-blue; //#24B700; //#21A500; //#0084E2;


///////////////////////////////////
// SETTINGS //
///////////////////////////////////

$app-primary: $columbia-blue;// $julia-blue-primary;// $columbia-blue; //darkblue <-- Julia
$app-secondary: $columbia-medium-blue;//$julia-blue-secondary;
$app-tertiary: $columbia-light-blue;

// $app-alt: ;
// $app-alt-medium: ;
// $app-alt-light: ;

// $app-text: ;
// $app-text-light: ;

// Start page.



// Comments.
$comments-font-color: darkgrey;
$comments-background-color: $columbia-light-blue; // <-- Background comments, wells.
$comments-signature-font-color: gray;
$comments-signature-background-color: inherit;
$comments-delete-link-font-color: $columbia-blue;
$comments-delete-link-background-color: inherit;
$comments-give-feedback-font-color: $columbia-blue;

// Footer. <-- still itself a work in progress. pushing to low priority CSS refactoring.

// Gradients and bookmarks.
$gb-border-color: lightgray;

// Navbar.
$logo-font-color: $columbia-blue; // <-- Logo, titles, tags_off.
$logo-background-color: white;
$nav-border-color: $columbia-medium-blue;

// Please_sign_up.


// Schools.
$school-well-background-color: $columbia-light-blue;

// Signin.
$signin-advice-font-color: gray;
// Users.
// Works.
$works-show-user-name-font-color: $columbia-blue;
$works-show-school-name-font-color: grey;
// Shared.
$page-titles-font-color: $columbia-medium-blue; // <--
$page-titles-background-color: white;
$mark-background-color: yellow;

///////////////////////////////////
// DEVELOPMENT ENVIRONMENT //
///////////////////////////////////
