<style>
	.card {
		border: 1px solid lightgray;
		border-radius: 3px;
		padding: 0px 10px 10px 15px;
	}
	.card .card-header {
		margin-bottom: 20px;
		/*border-bottom: 1px solid lightgray;*/
	}
	.card .card-body {
		margin-top: 5px;
	}
	.card .card-body pre {
		background-color: #FBFBFB;
		color: gray;
		font-size: 1em;
		border: none;
	}

</style>

<div class="card" style="max-height: 600px; overflow: scroll; background-color: #FBFBFB; border: 1px solid #C4D8E2;">

	<div class="card-header">
		<h3 class="brand-primary">Markdown Guide</h3>
	</div>

<div class="card-body">
<h4>Emphasis</h4>
<pre>**<strong>bold</strong>**
*<em>italics</em>*
~~<strike>strikethrough</strike>~~</pre>

<h4>Headers</h4>
<pre># Big header
## Medium header
### Small header
#### Tiny header</pre>

<h4>Lists</h4>
<pre>* Generic list item
* Generic list item
* Generic list item

1. Numbered list item
2. Numbered list item
3. Numbered list item</pre>

<h4>Links</h4>
<pre>[Text to display](http://www.example.com)</pre>

<h4>Quotes</h4>
<pre>> This is a quote.
> It can span multiple 
lines!</pre>

<h4>Images &nbsp; <small>Need to upload an image? <a href="http://imgur.com/" target="_blank">Imgur</a> has a great interface.</small></h4>
<pre>![](http://www.example.com/image.jpg)</pre>

<!-- <h4>Tables</h4>
<pre>| Column 1 | Column 2 | Column 3 |
| -------- | -------- | -------- |
| John     | Doe      | Male     |
| Mary     | Smith    | Female   |

<em>Or without aligning the columns...</em>

| Column 1 | Column 2 | Column 3 |
| -------- | -------- | -------- |
| John | Doe | Male |
| Mary | Smith | Female |
</pre>

<h4>Displaying code</h4>
<pre>`var example = "hello!";`

<em>Or spanning multiple lines...</em>

```
var example = "hello!";
alert(example);
```</pre> -->


<hr>

<div>Provided for use with <a href="http://nextstepwebs.github.io/simplemde-markdown-editor" target="_blank">SimpleMDE</a></div>

</div> <!-- !card-body -->
</div> <!-- !card -->