<li>
<div class="fluff">
<div class="item">
	<span>
	<span class="glyphicon glyphicon-pushpin"></span>&nbsp;<%= link_to(recommended.work.file_name, recommended.work) %></span>
	<%= link_to recommended.work.author_name, user_path(recommended.work.user), class: 'recommended-author ellipsis', style: 'color: gray; font-size: .8em;' %>
	</div>
	</div>
</li>