
<!-- BEGIN ADD_VERSION MODAL -->
<!-- http://getbootstrap.com/javascript/#modals -->
<!-- Modal -->
<div class="modal fade" id="add-version-modal-<%= project.id %>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">
            <span class="brand-primary"><%= project.name %></span><span class="brand-secondary"> \ + add version</span>
        </h4>
      </div>
      <div class="modal-body">
        <%= render partial: 'projects/add_version_modal_body', locals: {project: project} %>
      </div>
      <!-- <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div> -->
    </div>
  </div>
</div>