<div id="browsebar">
  <%
    facets_html = ''

    existing_tag_facets = params[:tag] || []
    existing_school_facets = params[:school_name] || []

    tag_links_on = ''
    tag_links_off = ''
    school_links_on = ''
    school_links_off = ''

		remove_html_span = '<span class="glyphicon glyphicon-remove" aria-hidden="true"></span>'.html_safe

    if params[:tag].present?
       tags = Project.tags_cloud { where id: projects.map { |p| p.id }}.sort_by!{|o| -o[1]}
    else
       tags = Project.tags_cloud.sort_by!{ |o| -o[1] }
    end

    tags.each_with_index do |_tag, index|
        break if index == 30
        _tag = _tag[0]

        if (params[:tag].kind_of?(Array) and params[:tag].include? _tag)
          tag_facets = existing_tag_facets - [_tag]
          tag_links_on << "<span class='tag context facet on'> #{link_to _tag, :search => params[:search], :tag => tag_facets, :school_name => params[:school_name]} </span>"

        elsif projects.size > 0
            tag_facets = existing_tag_facets + [_tag]
            tag_links_off << "<span class='tag context facet off'> #{link_to _tag, :search => params[:search], :tag => tag_facets, :school_name => params[:school_name]}</span>"
        end
    end

     # Facet on schools.
     @facet_schools.each do |school, index|
       break if index == 15;

       if (params[:school_name].kind_of?(Array) and params[:school_name].include? school.Institution_Name)

         school_query = existing_school_facets - [school.Institution_Name]

         school_links_on << "<span class='facet school on'>#{favicon_for(school, 12, 12, 'display: inline-block; vertical-align: middle; margin-bottom: 2px;')}#{link_to school.Institution_Name, :search => params[:search], :tag => params[:tag], :school_name => school_query}</span><a class='link-to-school' style='' href='#{school_path(school)}'><sup class='has-tooltip' data-toggle='tooltip' data-placement='top' title='Go to #{school.Institution_Name}' aria-hidden='true'><span class='glyphicon glyphicon-share-alt'></span></sup></a>"

     elsif projects.size > 0

         school_query = existing_school_facets + [school.Institution_Name]

         school_links_off << "<span class='facet school off'>#{favicon_for(school, 12, 12, 'display: inline-block; vertical-align: middle; margin-bottom: 2px;')}#{link_to school.Institution_Name, :search => params[:search], :tag => params[:tag], :school_name => school_query}</span>"

     end
     end


    if projects.size == 0
        existing_tag_facets.each do |_tag|
          tag_facets = existing_tag_facets - [_tag]
          tag_links_on << "<span class='tag context facet on'> #{link_to _tag, :search => params[:search], :tag => tag_facets, :school_name => params[:school_name]}</span>"
        end
    end
    if tag_links_on.size > 0
      facets_html << "<ul class='search_facets_on'>#{tag_links_on}</ul>"
    end
	  if school_links_on.size > 0
		  facets_html << "<ul class='school_links_on'>#{school_links_on}</ul>"
		end

    if tag_links_off.present?
        facets_html << "<ul class='search_facets_off'>#{tag_links_off}</ul>"
    else
        facets_html << "<br />"
    end
    if school_links_off.size > 0
      facets_html << "<ul class='school_links_off'>#{school_links_off}</ul>"
    end



  %>

	<!-- html notifier for search query -->
  <% if params[:search].present? %>
    <p>Searching <span class="brand-primary"><%= params[:search] %></span></p>
  <% end %>


  <%= raw facets_html %>

	<!-- buttons to stop and shuffle -->
  <div style="display: inline-block;">

    <!-- stop -->
    <% if params[:search].present? || params[:tag].present? || params[:school_name].present? %>
      <%= link_to params[:search] => nil, params[:tag] => nil, params[:school_name] => nil do %>
        <span class='btn btn-danger btn-sm glyphicon glyphicon-stop has-tooltip' data-toggle='tooltip' data-placement='top' title='Clear all filters' aria-hidden='true' style='color: #76B3DF;'></span>
      <% end %>
    <% end %>

  </div>




</div>
