
<!-- render partial projects/_hyrbrid_browse -->
<%# render 'projects/hyrbrid_browse' %>

<!-- <div class="banner-picture-bg"> -->
	<!-- <h1>Got homework?</h1> -->
	<!-- <h1><span class="brand-primary">R</span>stacks, for public education.</h1> -->
	<%# render 'projects/hyrbrid_browse' %>	
<!-- </div> -->

<!-- <div class="row" style='background-color: blue;'>
	uncollapse
</div> -->

<!-- <hr> -->


<!-- render partial projects/_index -->
<div class="row">


	<%= render 'projects/index2' %>
</div>




