div.banner {
    /* background-color: orange; */
    /* padding: 2px; */
    img { margin: auto; }
    text-align: center;
    &.leaderboard {
        margin: 20px auto 20px auto;
        max-width: 728px;
        max-height: 90px;
        &.leaderboard-lg {
            max-height: 210px;
        }
        &.leaderboard-xl {
            max-height: 300px;
        }
    }

    &.square {
        max-height: 250px;
        &.square-sm {
            max-width: 250px;
        }
        &.square-md {
            max-width: 300px;
        }
        &.square-lg {
            max-width: 336px;
            max-height: 280px;
        }
    }
}