// Debug

.debug_dump {
	clear: both;
	float: left;
	width: 100%;
	margin-top: 45px;
	@include box_sizing;
  background-color: black;
  color: lightgreen;
  border: none !important;
}

// * {
// 	border: 1px dashed red;
// }