// #color-me {
// 	.diffins {
// 		background-color: green;
// 	}
// }
// .diffins {
// 	color: green;
// }
// .diffout {
// 	color: red;
// }

#diff-display {
	font-size: .8em !important; // doesn't work?
}

.click-me {
	border: 1px solid lightgray;
	border-radius: 6px;
	padding: 10px;
	margin-bottom: 10px;
	&.open-version {
		color: white;
		background-color: darken($app-primary, 10%);
	}
	&.closed-version {
		color: gray;
		// background-color: lightgray;
	}
}

.add-version-button {
	// border: 1px solid $app-secondary;
	// border-radius: 6px;
	// padding: 0px 10px 10px 10px;
	// padding-top: 5px;
	// padding-right: 0px;
	// padding-bottom: 5px;
	// padding-left: 10px;
	margin-left: 10px;
	margin-right: 10px;
	// color: $app-primary;
	// margin-bottom: 10px;

	// display: table;
	// > * {
	// 	display: table-cell;
	// 	vertical-align: center;
	// 	horizontal-align: middle;
	// }
	// .h3 {
	// 	height: 100%;
	// 	width: 100%;
	// 	display: block;
	// }
}

/*=============================
=            Diffy            =
=============================*/

// normal
.diff{overflow:auto;}
.diff ul{background:#fff;overflow:auto;font-size:13px;list-style:none;margin:0;padding:0;display:table;width:100%;}
.diff del, .diff ins{display:block;text-decoration:none;}
.diff li{padding:0; display:table-row;margin: 0;height:1em;}
.diff li.ins{background:#dfd; color:#080}
.diff li.del{background:#fee; color:#b00}
.diff li:hover{background:#ffc}
/* try 'whitespace:pre;' if you don't want lines to wrap */
.diff del, .diff ins, .diff span{white-space:pre-wrap;font-family:courier;}
.diff del strong{font-weight:normal;background:#fcc;}
.diff ins strong{font-weight:normal;background:#9f9;}
.diff li.diff-comment { display: none; }
.diff li.diff-block-info { background: none repeat scroll 0 0 gray; }

// colorblind
.colorblind {
	.diff{overflow:auto;}
	.diff ul{background:#fff;overflow:auto;font-size:13px;list-style:none;margin:0;padding:0;display:table;width:100%;}
	.diff del, .diff ins{display:block;text-decoration:none;}
	.diff li{padding:0; display:table-row;margin: 0;height:1em;}
	.diff li.ins{background:#ddf; color:#008}
	.diff li.del{background:#fee; color:#b00}
	.diff li:hover{background:#ffc}
	/* try 'whitespace:pre;' if you don't want lines to wrap */
	.diff del, .diff ins, .diff span{white-space:pre-wrap;font-family:courier;}
	.diff del strong{font-weight:normal;background:#fcc;}
	.diff ins strong{font-weight:normal;background:#99f;}
	.diff li.diff-comment { display: none; }
	.diff li.diff-block-info { background: none repeat scroll 0 0 gray; }
}



/*=====  End of Diffy  ======*/