/*=====================================
=            Projects/Show            =
=====================================*/

.jumbotron {
	&.svelt {
		padding: 0px 15px 0px 15px;
		background-color: lighten($app-secondary, 15%); // (f7fafb)
		margin-bottom: 0px;
		border-radius: 0px;
		.text-small {
			font-size: 12px;
		}
		&.sub-svelt {
			// margin-top: -10px;
			background-color: #FBFBFB;
			padding-bottom: 0px;
      padding-top: 10px;
		}
		&.svelt-mini {
			padding: 5px 15px 5px 15px;
			margin-bottom: 0px;
			p {
				font-size: 1.2em;
			}
		}
	}
}

ul.tagit {
    overflow: unset;
}

.project-show-buttons {
	margin-top: 0px;
	padding-top: 10px;
	padding-left: 30px;
	background-color: #F9FBFB;
	padding-bottom: 10px;
}	

.projects-show-description {
	padding: 10px 10px 10px 30px;
}

.ui-widget-content {
    border: none !important;
    background: none !important;
}
ul.tagit input[type="text"] {
    border-bottom: 2px solid $columbia-blue !important;
    /* width: 70px !important; */
}
ul.tagit li.tagit-choice-editable {
    color: white;
	  background-color: darken($columbia-blue, 9%) !important;
	  font-weight: 300;
	  border-radius: 0px;
}

span.ui-icon.ui-icon-close {
    background-image: url("jquery-ui/themes/flick/images/ui-icons_ff0084_256x240.png");
}

/*=====  End of Projects/Show  ======*/


/*================================
=            _project            =
================================*/

.metadata-container {
	background-color: #f7fafb; 
	// border: 5px solid #f7fafb; 
	height: 50px;
	padding: 5px 5px 5px 8px;
	// float: bottom;
}

.text-content.markdown.thumb {
    img {
        display: none;
    }
}
/*=====  End of _project  ======*/
