.shareable-wrapper {
	/* background-color: $columbia-light-blue; */
	border-bottom-left-radius: 8px;
	border-bottom-right-radius: 8px;
	padding-bottom: 8px;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 11px;
	margin-top: -10px;

	// border-top: 2px solid $columbia-medium-blue;

	width: 100%;
}
