<div class="container">

	<% if !params[:searchschools].present? %>
	<%# render 'schools/analytics' %>
	<br>
	<br>
	<% end %>
	<div class="row">
		<div class="col-sm-12">

      <% if params[:searchschools].present? %>
			<p class="brand-secondary">
				Schools ordered by most contributions, then most affiliations.
			</p>
			<div class="table-responsive">
				<table class="table table-hover "> <!-- table-condensed -->

					<thead>
						<tr class='brand-secondary'>
							<th></th>
							<th>Name</th>


							<th><span class="fa fa-book"></span></th>
							<th><span class="fa fa-users"></span></th>


							<th>
								<span class="label label-context">
									Top tags
								</span>
							</th>

						</tr>
					</thead>

					<tbody>
						<%= render partial: 'schools/school_row', collection: @schools, as: :school %>
					</tbody>

				</table>
			</div>


		</div>
		<!-- ZE PAGINATOR -->
		<div class="text-center">
			<%= will_paginate @schools, :params => { :searchschools => params[:searchschools] } %>
		</div>

    <% else %>
    <div class="row">
      <%= render partial: "schools/card", collection: @schools, as: :school %>
    </div>
    <% end %>
	</div>



</div>
